# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
migrate_working_dir/
*.tmp

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# IDEs and Editor Settings
.idea/
*.iml
*.ipr
*.iws

# VS Code (optional - remove the comment if you don’t want to track settings)
.vscode/

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.generated/
ios/build/

# Android
android/.gradle/
android/captures/
android/app/*.keystore
android/local.properties
android/.idea/
android/build/
android/app/build/

# Web
web/build/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.generated/
macos/build/

# Windows
windows/Flutter/ephemeral/
windows/build/

# Linux
linux/Flutter/ephemeral/
linux/build/

# Obfuscation and Symbolication
app.*.map.json
app.*.symbols

# Firebase or config files (uncomment if you want to ignore)
# google-services.json
# GoogleService-Info.plist

# Coverage
coverage/

# Git LFS (for large assets like .mp3, .mp4, .wav, etc.)
*.mp3
*.wav
*.mp4
*.mov
*.flac
*.zip

